*, *::before, *::after {
    box-sizing: border-box;
}


html {
    font-family: lato-regular, sans-serif;
    color: var(--primary-base);
    line-height: 1.2;
}

body {
    margin: 0;
    font-size: 1rem;

    /* background-color: #fff; */
}

img {
    width: 100%;
}

a {
    font-family: lato-bold, sans-serif;;
    color: var(--clr-primary-base);
    text-decoration: none;
}

a:hover {
    color: var(--clr-hover);
}

