*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    font-family: lato-regular, sans-serif;
    color: var(--primary-base);
    line-height: 1.2;
}

body {
    margin: 0;
    font-size: 1rem;

    /* background-color: #fff; */
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0 0 1em;
    line-height: 1.3;
}

p {
    margin: 0 0 2.75em;
    color: var(--clr-primary-2)
}

a {
    font-family: lato-bold, sans-serif;
    color: var(--clr-primary-base);
    text-decoration: none;
}

a:hover {
    color: var(--clr-hover);
}

button {
    font-family: lato-bold, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

small {
    margin-block-end: 2.375rem;

    font-family: lato-bold, sans-serif; 
    font-size: 0.8125rem;
    color: var(--clr-primary--1);
}