/* grid helpers */

.grid-column {
    display: grid;
    grid-auto-flow: column;
}

.grid-row {
    display: grid;
    grid-auto-flow: row;
}

.grid-column.space-between {
    justify-content: space-between;
}

.grid-column.align-center {
    align-items: center;
}

/* logo helper */
.logo {
    position: relative;
}

.logo::after {
    content: ".";
    position: absolute;
    color: var(--clr-hover);
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* social icons */

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    background-color: var(--clr-social-icon);
  }

.fa:hover {
    color: var(--clr-primary-base);
}

.fa-facebook:hover {
    background: #3B5998;
}

.fa-twitter:hover {
    background: #55ACEE;
}

.fa-behance:hover {
    background: #1769ff;
}
  
.fa-dribbble:hover {
    background: #ea4c89;
}