.main-layout {
    display: grid;
    grid-template-columns: 
    minmax(20px, 1fr)
    minmax(auto, 980px) 
    minmax(20px, 1fr);
}

.main-layout > *:not(.full) {
    grid-column: 2;
}

.main-layout > .full {
    grid-column: 1 / -1;
}

/* main content */

.main-content { 
    border: 1px solid var(--clr-content-outline);
}

/* post layout */

.post-layout {
    display: grid;
    grid-template-columns: 1fr 40px 1fr; 
    margin-block-start: 80px;
    margin-block-end: 80px;
}

.post-layout > :first-child {
    grid-column: 1;
}

.post-layout > :not(:first-child) {
    margin-inline-end: 1.5625rem;
    grid-column: 3;
}



