/* MOBILE ONLY */

@media (max-width: 557px) {
    .main-header {
        height: 50px;
        z-index: 10;
    }

    .main-mav-container {
        position: fixed;
        top: 0;
        right: 0;
        
  }

    .btn-toggle-menu {
        display: block;
        align-self: self-start;
    }

    .main-nav {
        grid-auto-flow: row;
        grid-column: 3;
        height: 100vh;
        width: 100%;
        --nav-padding-block: 20px;
        --nav-padding-inline: 40px;
        margin-block-start: 50px;

        background-color: #7f7f7f;

        display: none;
        translate: 100%;
    }

    body.menu-open .main-nav {
        display: block;
        translate: 0;
        text-align: center;
        width: 100vw;
        
        border: black solid 1px;

    }

    .logo {
        align-self: self-start
    }

    .main-header::before {
        content: none;
    }

    .main-header .main-nav>li>a:hover::after {
        content: none;
    }

    body.menu-open .main-screen {
        display: block;
    }


}


/* MEDIUM */
@media (min-width: 557px) {
    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 517px) minmax(20px, 1fr);
    }

    .main-header .main-nav>li {
        --nav-padding-block: 55px;
        --nav-padding-inline: 20px;
    }

    .post-layout {
        display: grid;
        grid-template-columns: 1fr 40px 1fr;
        margin-block-start: 80px;
        margin-block-end: 80px;
    }

    .post .post-title {
        margin-block-end: .8rem;

        font-size: 1rem;
    }

    .post .post-text {
        margin-block-end: .8rem;

        font-size: .6rem;
    }

    .post .post-button {
        font-size: .3rem;
        padding: 3.5px 8.5px;
    }

}

/* LARGE */
@media (min-width: 992px) {
    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 952px) minmax(20px, 1fr);
    }

    .main-header .main-nav>li {
        --nav-padding-inline: 40px;
    }


    .post .post-button {
        font-size: .3rem;
        padding: 3.5px 8.5px;
    }

    .post .post-title {
        margin-block-end: 3.625rem;

        font-size: 1.75rem;
    }

    .post .post-text {
        margin-block-end: 1em;

        font-size: 1em;
    }

    .post .post-button {
        font-size: 1rem;
    }
}