:root {

    /* background */
    --clr-primary-base: #fff;

    /* sections */
    --clr-header: #292929;
    --clr-content-outline: #E1E0E0;
    --clr-footer:#F8F8F8;
    --clr-hover: #58C93A;
    --clr-social-icon: #E5E5E5;
    
    /* text */
    --clr-primary--2: #1e1e1e;
    --clr-primary--1: #A6A6A6;
    --clr-primary-0: #292929;
    --clr-primary-1: #4F4E4E;
    --clr-primary-2: #606060;
    --clr-primary-3: #C2C1C1;
    --clr-primary-4: #818181;
    
    /* layout vars */
    --nav-padding-block: 50px;
    --nav-padding-inline: 45px;
}